body {
  background: #000;
  color: #fff;
}

body, button {
  font-size: 5vw;
}

#game {
  width: 100vw;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 7vw;
  margin: 0;
}

button {
  background: none;
  outline: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  background: rgba(255, 255, 255, 0.15);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#board {
  width: 75vw;
  max-width: 540px;
  height: 75vw;
  max-height: 540px;
  border-collapse: collapse;
  margin: 35px auto 45px;
}

#board td {
  font-size: 7vw;
}

.strike {
  text-decoration: line-through;
}

#board td {
  border: 1vw solid #fff;
  width: 33.33%;
  height: 33.33%;
  box-sizing: border-box;
}

#board tr:first-child td {
  border-top: none;
}

#board tr td:first-child {
  border-left: none;
}

#board tr:last-child td {
  border-bottom: none;
}

#board tr td:last-child {
  border-right: none;
}

@media only screen and (min-width: 721px) {
  body, button {
    font-size: 36px;
  }
  h1 {
    font-size: 50px;
  }
  #board td {
    font-size: 50px;
    border-width: 7.2px;
  }
}
